.title{
    font-family: 'Monoton'; font-size: 100px;
    color: cyan;
    text-align: center;
    margin-top: 0%;
    background-image: url('./images/hat.png');
    background-size: contain; 
    font-weight: normal;
}
.menu{
    background-color: cyan ;
    text-align: center;
    word-spacing: 5cm;
}
.menu div{
    float:none;
    display: inline;
    border-radius: 1px;
}

a:link , a:visited, .button {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: grey;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.submit{
    background-color: cyan;
    color: grey;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
}
input[type=text], input[type=password], input[type=date] {
    width: 20%; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}
#error{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
img{
    width: 300px;
}
.container{
    border: solid black 1px;
    width: 30%;
    height: 500px;
    background-color: antiquewhite;
}
h2{
    text-align: center;
}
a.vetrina:link, a.vetrina:visited{
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 0;
    background-color: lightcyan;
    color: black;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid black 2px;
    border-radius: 1cm;
    border-spacing: 10%;
}
a.vetrina:hover{
    background-color: gray;
}
span{
    vertical-align: top;
    display: inline-block;
}
h2{
    color: black;
}
.carrello{
    display: block;
}